/config.log
/autom4te.cache/
/aclocal.m4
/arm-fslc-linux-gnueabi-libtool
/AUTHORS
/ChangeLog
/compile
/config.guess
/config.status
/config.sub
/configure
/configure.ac
/COPYING
/depcomp
/INSTALL
/install-sh
/missing
/NEWS
/README
/stamp-h1
